/* General Dashboard Styling */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #ffffff;
}

.dashboard {
  display: flex;
  height: 100vh;
}


.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  width: 60px;
  margin-bottom: 10px;
}

.logo h2 {
  margin: 0;
  font-size: 1.5rem;
}

.logo p {
  font-size: 0.9rem;
  margin-top: 5px;
}

.menu {
  flex-grow: 1;
}

.menu-item {
  padding: 15px 10px;
  margin: 10px 0;
  background-color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #ffffff;
}

.dark-mode-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

.dark-mode-toggle input {
  cursor: pointer;
}

/* Main Content Styling */
.main-content {
  flex-grow: 1;
  padding: 20px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
}

.top-row {
  width: 100%;
  /* Ensure the weather container spans full width */
  display: flex;
  justify-content: space-between;
  /* Optional: Space out content */
  align-items: center;
  /* Optional: Align items vertically */
  padding: 10px;
  /* Adjust padding as necessary */
  background-color: #ffffff;
  /* Set background for clarity */
  border-radius: 10px;
  /* If you want rounded edges */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* Optional: Add shadow for effect */
}

/**/

/**/

.full-width {
  width: 100%;
}

.half-width {
  width: 48%;
}

.middle-row {
  display: flex;
  padding:10px;
  width: 100%;
  background-color: #ffffff;
  align-items: center;
  border-radius: 10px;
  grid-template-columns: 1fr 2fr;
  /* gap: 20px; */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  /* overflow-x: auto;  */
}


.bottom-row {
  display: grid;
}


.weather-block,
.suggestions-block,
.water-sources-block,
.crop-production-block,
.alerts-block {
  background-color: #ffffff;
  color: #100c0c;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.weather-header,
.suggestions-header,
.water-sources-header,
.crop-header,
.alerts-header {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.see-more {
  color: #007bff;
  cursor: pointer;
}